@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* Colores principales */
    --chocolate: #582c12;
    --amarillo: #ffd700;
    --primary-bg: #fdfcfd; /* blanco */
    --secundary-bg: #f6f5ec;    
    --primary-text: #13191a; /* gris oscuro */
    --secundary-text: #8d8480; /* Texto secundario */
    
    /*Enlaces*/
    --coral-suave: #ff6f61;

    /*Subtítulos*/
    --azul-suave: #4a90e2;
    --rosado-suave: #f28d8c;
    
    /* Elementos decorativos y destacados (Íconos) */
    --verde-menta: #98ff98;

    /* Fuentes */
    --fuente-principal: "Lora", serif;
    --fuente-secundaria: "Raleway", sans-serif;
    --fuente-títulos: "Playfair Display", serif;  

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}


/*---HEADER---*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--secundary-bg);
    box-shadow: 0 4px 25px -22px var(--primary-text);
    z-index: 2;
    margin: auto;
}

.header-content {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 3px rgba(22, 199, 199, 0.9);
    /*text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);*/
    font-size: 1.5rem;
    letter-spacing: -1px;
    font-family: var(--fuente-títulos);
}

.logo h1 {
    color: var(--chocolate);
}

.logo h1 b {
    color: var(--amarillo);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.menu li {
    list-style: none;
    margin: 0px 20px;
    height: 100%;
    display: flex;
    gap: 2rem;
}

.menu a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--chocolate);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    font-family: var(--fuente-secundaria);
}

.menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: var(--amarillo);
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: color 300ms;
    opacity: 0;
}

.menu a:hover::after {
    opacity: 1;
}

.menu a:hover {
    color: var(--amarillo);
}

/*Portada*/
.container-cover {
    width: 100%;
    height: 50rem;
    position: relative;
    margin-top: 8rem;
    background-image: url(https://github.com/KeylaConde/konnieqap/blob/master/img/earth.jpg?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(22, 199, 199, 0.3) /*rgba(26, 95, 20, 0.5)*/;
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover {
    max-width: 80rem;
    height: 50rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

.container-info-cover h1 {
    font-size: 6rem;
    font-weight: 500;
    color: var(--amarillo);
    text-shadow: 1px 1px 3px rgba(22, 199, 199, 0.9);
    margin-bottom: 2rem;
    font-family: "Protest Revolution", sans-serif;
}

.container-info-cover p {
    color: var(--primary-bg);
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--fuente-secundaria);
}

/* Container contenido del artículo */
.container-content {
    width: 100%;
    margin: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

article {
    width: 100%;
    padding: 2rem;
    padding-bottom: 4rem;
    box-shadow: -10px 0 20px -30px var(--primary-text);
    position: relative;
    border-radius: 0.6rem;
    background: var(--primary-bg);
    overflow: hidden;
}

article:before {
    content: '';
    width: 100%;
    height: 0.6rem;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--verde-menta);
}

article h1 {
    margin-top: 2rem;
    font-weight: 500;
    font-family: var(--fuente-títulos);
    font-size: 4rem;
    color: var(--chocolate);
}

article p {
    margin: 2rem 0;
    font-family: var(--fuente-principal);
    font-size: 1.8rem;
    color: var(--primary-text);
    line-height: 1.6;
}

article img {
    width: 100%;
    margin-top: 2rem;
}

article h2 {
    color: var(--chocolate);
    margin: 15px 0;
    font-size: 3rem;
    font-weight: 500;
}
article ul li {
    font-size: 1.8rem;
    line-height: 1.6;
}

article ul li a {
    color: var(--azul-suave);
    text-decoration: none;
}

article ul li a:hover {
    text-decoration: underline;
}

em {
    color: var(--rosado-suave);
}

/* Aside de los artículos relacionados */
.container-aside aside {
    width: 32rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 2rem -2rem var(--primary-text);
    overflow: hidden;
    margin-left: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    background-color: var(--secundary-bg);
}

.container-aside aside img {
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p {
    margin-top: 2rem;
    padding: 0rem 2rem;
}

.container-aside aside h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--chocolate);
}

.container-aside aside p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--primary-text);
}


.container-aside aside button {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 1rem 5rem;
    font-size: 1.6rem;
    background: var(--azul-suave);
    border: none;
    color: var(--primary-bg);
    cursor: pointer;
    border-radius: 0.6rem;
}

.container-aside aside button:hover {
    opacity: 0.9;
    background-color: var(--amarillo);
    color: var(--chocolate);
}